<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1030948704390-iquocfoqd6q5p596i17rgou1lihn11aj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1030948704390-iquocfoqd6q5p596i17rgou1lihn11aj</string>
	<key>API_KEY</key>
	<string>AIzaSyDEsNfj-6hfBPmaumieYzZSu6ACwDDdNWU</string>
	<key>GCM_SENDER_ID</key>
	<string>1030948704390</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.easysy</string>
	<key>PROJECT_ID</key>
	<string>easysy-9dd5e</string>
	<key>STORAGE_BUCKET</key>
	<string>easysy-9dd5e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1030948704390:ios:bc14929777d54062c4c107</string>
</dict>
</plist>